<br/>
<div class="info_context_level">
   

        <div id="level1" class="swingDiv">
        
            <div class="inner_two">

                <div class="inner_one">
                     <h4><span class="glyphicon glyphicon-ok"></span> 업종 유사 지역(TOP3)</h4>
                    <div class="inner_table" > 
                        <table class="table table-striped">
                            <thead> 
                                <tr>   
                                     <th>지역</th> 
                                     <th>유사도</th>
                                </tr> 
                            </thead> 
                            <tbody id="level1_1">   
                            </tbody>
                         </table>
                    </div>
                </div>
                <div class="inner_one">
                     <h4><span class="glyphicon glyphicon-ok"></span> 주요 업종 구성(TOP3)</h4>
                    <div class="inner_table"> 
                             <table class="table table-striped">
                            <thead> 
                                <tr>   
                                     <th>업종</th> 
                                     <th>중요도</th>
                                </tr> 
                            </thead> 
                            <tbody id="level1_2"> 
                            </tbody>
                         </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="handle-left glyphicon glyphicon-chevron-left" id="level1_left" onclick="swingChart(-1,'level1',2)"></div>
        <div class="handle-right glyphicon glyphicon-chevron-right" id="level1_right" onclick="swingChart(1,'level1',2)"></div>
      



</div>
<br/>
<div class="info_context_level">

    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" id="btn_1" onclick="lev2_active('1')">거주 추정</button>
        </div>
        <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" onclick="lev2_active('2')">주간 상주 추정</button>
        </div>
        <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" onclick="lev2_active('3')" >방문 추정</button>
        </div>
    </div>

<div id="level2">  
 
  
               
                
 

</div>



</div>
</br>



<div class="info_context_level">


<button type="button" class="btn btn-success btn-fixed">상세 분석</button>
</div>